<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/budailabs.github.io/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/budailabs.github.io/">Home</a></li>
		       
	        		<li><a href="/budailabs.github.io/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:budai@laughingbuddhagames.com">email</a></li>
	        		<li><a href="https://github.com/sunifyre">github.com/sunifyre</a></li>
				</ul>
			</footer>
		</body>
	</html>
